.footer {
  .footer {
    height: 60px;
    width: 100vw;
    background: hsl(200, 50%, 50%);
    position: fixed;
    box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;
  }
  .footer--hidden {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }
}
