.posts {
  .card {
    max-width: 50rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  img {
    height: auto;
    width: 100%;
  }
  .left {
    box-sizing: border-box;
    float: left !important;
  }
  .btn-vote li {
    margin: 0 8px 0 0;
    float: left;
    list-style: none;
  }
  li {
    display: list-item;
    text-align: center;
    list-style: none;
  }
  .slide-fade-enter-active {
    transition: all 1.5s ease;
  }
  .slide-fade-leave-active {
    transition: all 1.5s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  .btn-to-top {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 22px;
  }
  .finished {
    display: none;
  }
}
